header {
  display: flex;
  height: 400px;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: #d3a211;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

.name {
  
}