.tweet-form {
  /* display: flex; */
  margin: 0 auto;
  justify-content: space-between;
}

button {
  background-color: #4056A1;
  font-family: 'Bungee', sans-serif;
  color: #FFFFFF;
  flex-direction: row;
  align-items: center;
}

div.button {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.counter {
  font-family: 'Bungee', sans-serif;
}

.overChar {
  color: red;
}

.submit-error {
  display: flex;
  color: firebrick;
  font-weight: bold;
  text-align: center;
  border-color: #d3a211;
  border-width: 5px;
  border-style: solid;
  margin-top: 1.5em;
  justify-content: space-around;
  align-items: center;
}

.fas.fa-exclamation-triangle {
  color: firebrick;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  margin: 1em auto;
}

.error-true {
  display: none;
}

form {
  flex-direction: column;
}

#tweet-text {
  background-color: #f4f1ec;
  width: 100%;
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  border-left-width: 5px;
  outline: none;
  resize: none;
  border-bottom: 5px #59554d;
  border-bottom-style: solid;
  font-weight: bold;
}

label {
  font-weight: bold;
}