main {
  width: 90%;
  background-color: #f4f1ec;
  margin: 0 auto;
  color: #59554d;
}

article {
  border: #59554d;
  border-width: 5px;
  border-style: solid;
  margin-top: 50px;
}

article:hover {
  box-shadow: 5px 5px 0.1px #d1cfcc;
}

.tweet-header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  font-weight: bold;
  padding-bottom: 1em;
}

#avatar-and-name {
  display: flex;
  font-weight: bold;
  padding-top: 0.5em;
  justify-content: space-evenly;
}

#name {
  padding-left: 0.5em;
  padding-top: 0.5em;
}

#handle {
  color: #d1cfcc;
  padding-top: 1em;
}

article:hover {
  font-weight: bolder;
}

#tweet {
  /* margin-left: 2em; */
  width: 90%;
  font-weight: bold;
  margin: 0 auto;
}

.tweet-underline {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 0.5em;
  border: #59554d;
  border-width: 5px;
  border-style: solid;
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 0.8em;
  margin-left: 2em;
  margin-right: 2em;
}

#links {
  margin-top: 0.75em;
}

#links:hover {
  color: #d3a211;
}

.fas.fa-flag {
  color: #4056A1;
}

.fas.fa-flag:hover {
  color: #d3a211;
}

.fas.fa-retweet {
  color: #4056A1;
}

.fas.fa-retweet:hover {
  color: #d3a211;
}

.fas.fa-heart {
  color: #4056A1;
}

.fas.fa-heart:hover {
  color: #d3a211;
}