/* Tweet Container */
article {
  border: #59554d;
  border-width: 0.2em;
  border-style: solid;
  margin-top: 2em;
  margin-bottom: 2em;
}

article:hover {
  box-shadow: 0.2em 0.2em 0.1px #d1cfcc;
}

.tweet-header {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
  font-weight: bold;
  padding-bottom: 1em;
}

#avatar {
  width: 3em;
  height: 3em;
  margin: 0.5em;
}

#avatar-and-name {
  display: flex;
  font-weight: bold;
  padding-top: 0.5em;
  justify-content: space-evenly;
}

#tweet-name {
  padding: 0.5em;
}

#handle {
  color: #d1cfcc;
  padding-top: 1em;
  padding-right: 0.5em;
}

article:hover {
  font-weight: bolder;
}

#tweet {
  width: 90%;
  font-weight: bold;
  margin: 0 auto;
}

.tweet-underline {
  width: 95%;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 0.5em;
  border: #59554d;
  border-width: 0.2em;
  border-style: solid;
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 0.8em;
  margin-left: 2em;
  margin-right: 2em;
}

#links {
  color: #4056A1;
  margin-top: 0.75em;
}

.link {
  padding: 0.1em;
}

.fas.fa-flag:hover {
  color: #d3a211;
}

.fas.fa-retweet:hover {
  color: #d3a211;
}

.fas.fa-heart:hover {
  color: #d3a211;
}

/* Mobile */
@media only screen and (max-width: 1024px) {
  main {
    width: 90%;
    background-color: #f4f1ec;
    margin: 0 auto;
    color: #59554d;
  }
}

/* Desktop */
@media only screen and (min-width: 1024px) {
  .body-container {
    display: flex;
    /* flex-flow: row wrap; */
  }
  
  main {
    width: 67%;
    background-color: #f4f1ec;
    margin: 0 auto;
    padding: 2em;
    color: #59554d;
  }
}